.post-container {
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.blog-container {
    display: flex;
    vertical-align: center;
    flex-direction: row;
    align-items: flex-start;
}
.classify-container {
    width: 10%;
    padding-right: 10%;
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.sub-container {
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.list-container {
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: flex-start;
}