.index-container {
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: center;
}
.sub-container {
    width:1000px;
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.video {
    height: 600px;
    width: 1000px;
}
