<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/title.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/blogList.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="/js/viewBlog.js"></script>
    <script>
        $(function(){
            $("#navigation").load("/templates/navigation.html");
            $("#bottom").load("/templates/bottom.html");
        });
    </script>
    <script src="https://kit.fontawesome.com/19796808fb.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div id="navigation"></div>
</header>
<div class="blog-container">
    <div class="post-container">
        <span class="title">Blogs</span>
        <div id="blogs_info" class="blog-list"></div>
    </div>
    <div class="classify-container">
        <div class="sub-container">
            <span class="title">Topic</span>
            <div class="list-container">
                <span>t</span>
                <span>t</span>
                <span>t</span>
            </div>
        </div>
        <div class="sub-container">
            <span class="title">Time</span>
            <div class="list-container">
                <span>t</span>
                <span>t</span>
                <span>t</span>
            </div>
        </div>
        <div class="sub-container">
            <span class="title">Most Viewed</span>
            <div class="list-container">
                <span>t</span>
                <span>t</span>
                <span>t</span>
            </div>
        </div>
    </div>
</div>
<div id="bottom"></div>
</body>
</html>