<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/title.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#navigation").load("/templates/navigation.html");
            $("#bottom").load("/templates/bottom.html");
        });
    </script>
    <script src="https://kit.fontawesome.com/19796808fb.js" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <div id="navigation"></div>
</header>
<div class="index-container">
    <div class="sub-container">
        <span class="title">Most recent video</span>
        <iframe class="video" src="https://player.bilibili.com/player.html?bvid=BV1fV411U7Yv&page=0&as_wide=0&high_quality=1&danmaku=0&t=0"
        ></iframe>
    </div>
    <div class="sub-container">
        <span class="title">Recent blogs</span>
    </div>
</div>
<div id="bottom"></div>
</body>
</html>