<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/navigation.css">
<div class="navigation">
    <ul>
        <li>
            <a href="https://www.instagram.com/spike2561/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/qirui-yang-775a82190/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UC32hTc5p3t0hehW5jtJ_eSg" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
        <li>
            <a href="https://www.iesdouyin.com/share/user/958401599519437?u_code=103297cgl27f&did=68348167874&iid=984808374416957&sec_uid=MS4wLjABAAAARNQWqzDPWVuvrY4RndbuzInmZeeP9z5N_Xa_Hw-dDkU&app=aweme&utm_campaign=client_share&utm_medium=ios&tt_from=copy&utm_source=copy"
               target="_blank">
                <i class="fab fa-tiktok"></i>
            </a>
        </li>
        <li>
            <a class="no-icon" href="https://space.bilibili.com/19317693?from=search&seid=13559432897009474135" target="_blank">
                <span class="bilibili">bilibili(゜-゜)つロ</span>
            </a>
        </li>

        <li>
            <a class="no-icon" href="/index">
                <span>Index</span>
            </a>
        </li>
        <li>
            <a class="no-icon" href="/view-profile">
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a class="no-icon" href="/view-blog">
                <span>Blogs</span>
            </a>
        </li>
        <li>
            <a class="no-icon" href="/videos">
                <span>Videos</span>
            </a>
        </li>
        <li>
            <a class="no-icon" href="/musics">
                <span>Musics</span>
            </a>
        </li>
        <li>
            <a class="no-icon" href="/store">
                <span>Official Store</span>
            </a>
        </li>
    </ul>
</div>
</html>